.chat {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  height: 90%;

  //960px
  @media only screen and (max-width: 60em) {
    padding: 0;
  }

  &__title {
    border-bottom: 1px solid #ddd;
    padding: 1rem 3rem 2rem;

    // 450px
    @media only screen and (max-width: 28.125em) {
      padding: 1rem 1rem 2rem;
    }
  }

  &__body {
    flex: 1;
    max-width: 96rem;
    display: flex;
    flex-direction: column;
  }

  &__messages {
    flex: 1;
    padding: 1rem 3rem 2rem;
    margin: 0;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;

    // 450px
    @media only screen and (max-width: 28.125em) {
      padding: 1rem;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    padding: 2rem 4rem 2rem;

    // 450px
    @media only screen and (max-width: 28.125em) {
      flex-direction: column;
      align-items: stretch;
      padding: 1rem 2rem 1rem;
    }
  }

  &__form-field {
    flex: 1;
  }

  &__submit {
    margin-left: 2rem;

    // 450px
    @media only screen and (max-width: 28.125em) {
      margin: 0;
    }
  }
}
