/* You can add global styles to this file, and also import other style files */
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  // Define 1rem=10px
  font-size: 62.5%;
}

body {
  background: #edeef0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}
