.toolbar {
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    max-width: 96rem;
  }

  &__logo,
  &__link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:active {
      color: #d3d3d3;
    }
  }
}
